body {
    font-family: Arial, sans-serif;
}

body {
    background-color: #08203D; /* Couleur bleu foncé */
    color: #ffffff; /* Couleur du texte en blanc pour contraster */
    font-family: Arial, sans-serif;
}


nav {
    background-color: #37B6E6;
    padding: 1em;
}

nav a {
    margin: 0 1em;
    text-decoration: none;
    color: #000204;
}

.container {
    padding: 2em;
}

form div {
    margin-bottom: 1em;
}
